<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/head :: head"></div>
    <title>Albums</title>
</head>
<body>
<h1>Albums</h1>


    <h2>Add Album</h2>
    <form action="/albums" method="post">
        <fieldset>
            <legend>Add an Album to Database</legend>

            <label>Album Title</label>
            <input type="text" name="title">

            <label>Artist</label>
            <input type="text" name="artist">

            <label>Number of Songs</label>
            <input type="number" name="songCount">

            <label>Length In Seconds</label>
            <input type="number" name="lengthInSeconds">

            <label>Album Cover URL</label>
            <input type="text" name="imageURL">

            <input type="submit" value="Add Album">
        </fieldset>
    </form>


    <h2>Albums in Database</h2>

    <ul th:each="album : ${allAlbums}">
        <li th:text="'Album: ' + ${album.title}"></li>
        <li th:text="'Artist: ' + ${album.artist}"></li>
        <li th:text="'Song Count: ' + ${album.songCount}"></li>
        <li th:text="'Length: ' + ${album.lengthInSeconds}"></li>
        <li th:text="'Image: ' + ${album.imageURL}"></li>

        <div>Songs</div>
        <ul th:each="song : ${album.albumSongs}">
            <li th:text="'Title: ' + ${song.title}"></li>
            <li th:text="'Length: ' + ${song.length}"></li>
            <li th:text="'Track Number: ' + ${song.trackNumber}"></li>
        </ul>
        <form action="/addSong" method="post">
            <fieldset>
                <legend>Favorite Tracks</legend>
                <label>Title</label>
                <input type="text" name="title"/>
                <label>Length</label>
                <input type="text" name="length">
                <label>Track Number</label>
                <input type="text" name="trackNumber">
                <input type="hidden" name="albumTitle" th:value="${album.title}">
                <input type="submit" value="Add Song">
            </fieldset>
        </form>

    </ul>




</body>
</html>